<section class="hero">
  <div class="container hero__container">
    <header class="hero__header">
      <div class="hero__logo">Atmosphere</div>

      <div class="hero__lang">
        <p class="lang">eng</p>
        <p class="lang lang--active">rus</p>
      </div>
    </header>

    <div class="hero__inner">
      <div class="hero__info">
        <h1 class="hero__title">
          Наша команда занимается разработкой сайтов
        </h1>

        <p class="hero__text">
          Атмосфера - это студия, увлеченная созданием прекрасного и запоминающегося пользовательского интерфейса.
        </p>
      </div>

      <div class="hero__button-wrap">
        <button class="button hero__button button__anker" data-anker="contact">Обсудить проект</button>
      </div>
    </div>

    <div class="hero__icons">
      <include src="src/images/icon-mouse.svg" />
      <include src="src/images/icon-arrow-down.svg" />
    </div>
  </div>
</section>