.hero {
  height: 100vh;
  padding: 30px 0 60px;
  background-image: url('/images/hero.jpg');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__logo {
  font-size: 24px;
  font-weight: 600;
}

.hero__lang {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  text-transform: uppercase;
}

.lang {
  padding: 5px 8px;
  font-size: 10px;

  &:first-child {
    border-bottom: 1px solid var(--font-color);
  }
}

.lang--active {
  color: var(--font-color);
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.hero__title {
  max-width: 400px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
}

.hero__text {
  max-width: 400px;
  font-size: 16px;
  line-height: 1.5;
}

.hero__button-wrap {
  text-align: center;
}

.hero__icons {
  display: none;
}

@media all and (min-width: 600px) {
  .hero__title {
    font-size: 32px;
  }

  .hero__text {
    font-size: 18px;
  }

  .hero__button-wrap {
    text-align: left;
  }
}

@media all and (min-width: 900px) {
  .hero__logo {
    font-size: 28px;
    font-weight: 600;
  }

  .lang {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .hero__inner {
    justify-content: start;
    margin-top: 150px;
  }

  .hero__title {
    max-width: 700px;
    font-size: 52px;
    line-height: 1.2;
  }

  .hero__text {
    max-width: 600px;
    font-size: 20px;
  }

  .hero__button-wrap {
    margin-top: 50px;
  }

  .hero__button {
    width: 300px;
    height: 60px;
  }

  .hero__icons {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .hero__inner {
    margin-top: 200px;
  }

  .hero__title {
    max-width: 1200px;
    margin-bottom: 35px;
    font-size: 72px;
  }

  .hero__button-wrap {
    margin-top: 50px;
  }
}
