<section class="team">
    <div class="container team__container">
        <div class="team__info">
            <p class="title team__title">Мы - команда профессионалов, нацеленных на результат</p>

            <p class="text team__text">Совершенство в дизайне – философия бизнеса нашей команды. Стремясь к
                бескомпромиссному качеству разработки, мы уделяем максимум внимания деталям и процессу.</p>

            <p class="text team__text">Наш опыт позволяет реализовывать
                задачи любого объема и сложности.</p>

            <p class="text team__text">Мы работаем на стыке современных технологий и digital-искусства и
                находимся в постоянном поиске идей.</p>

            <div class="team__button-wrap">
                <button class="button team__button button__anker" data-anker="contact">Задать вопрос</button>
            </div>
        </div>

        <div class="team__people">
            <ul class="team__list">
                <li class="team__item">
                    <a class="team__link" href="#">
                        <include src="src/images/icon-linkedin.svg" />
                    </a>

                    <div class="team__people-info">
                        <p class="team__name">Имя Фамилия</p>
                        <p class="team__position">Fullstack javascript developer</p>
                    </div>
                </li>
                <li class="team__item">
                    <a class="team__link" href="#">
                        <include src="src/images/icon-behance.svg" />
                    </a>

                    <div class="team__people-info">
                        <p class="team__name">Имя Фамилия</p>
                        <p class="team__position">Fullstack javascript developer</p>
                    </div>
                </li>
                <li class="team__item">
                    <a class="team__link" href="#">
                        <include src="src/images/icon-linkedin.svg" />
                    </a>

                    <div class="team__people-info">
                        <p class="team__name">Имя Фамилия</p>
                        <p class="team__position">Fullstack javascript developer</p>
                    </div>
                </li>
                <li class="team__item">
                    <a class="team__link" href="#">
                        <include src="src/images/icon-linkedin.svg" />
                    </a>

                    <div class="team__people-info">
                        <p class="team__name">Имя Фамилия</p>
                        <p class="team__position">Fullstack javascript developer</p>
                    </div>
                </li>
                <li class="team__item">
                    <a class="team__link" href="#">
                        <include src="src/images/icon-linkedin.svg" />
                    </a>

                    <div class="team__people-info">
                        <p class="team__name">Имя Фамилия</p>
                        <p class="team__position">Fullstack javascript developer</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>