<section class="about">
    <div class="container">
        <div class="about__intro">
            <p class="title about__title">Основные направления деятельности</p>

            <p class="text about__text">Стремясь к бескомпромиссному качеству разработки, мы уделяем максимум внимания
                деталям и процессу. Наш опыт позволяет реализовывать задачи любого объема и сложности.</p>
        </div>

        <ul class="about__list">
            <li class="about__item">
                <div class="about__item-header">
                    <include src="src/images/icon-landing.svg" />
                    <p class="about__subtitle">Разработка сайтов</p>
                </div>

                <p class="text about__subtext">Создаем корпоративные сайты, промо-сайты, веб-системы, порталы,
                    интернет-магазины, “под ключ”.</p>
            </li>
            <li class="about__item">
                <div class="about__item-header">
                    <include src="src/images/icon-graphic.svg" />
                    <p class="about__subtitle">Уникальный дизайн</p>
                </div>
                <p class="text about__subtext">Используем качественную графику, подбираем цвета, доводим до идеального
                    вида.
                    Не работаем с шаблонами и заготовками.</p>
            </li>
            <li class="about__item">
                <div class="about__item-header">
                    <include src="src/images/icon-coding.svg" />
                    <p class="about__subtitle">Верстка макетов</p>
                </div>
                <p class="text about__subtext">Качественная, кроссбраузерная html-вёрстка макетов позволит полностью
                    раскрыть
                    потенциал дизайна и ускорить его интеграцию.</p>
            </li>
        </ul>
    </div>
</section>