<section class="technology">
    <div class="container">
        <p class="title technology__title">С какими технологиями мы работаем</p>

        <div class="technology__list">
            <div class="technology__item">
                <img class="technology__img" src="/images/teh-node.svg" alt="node js">
            </div>

            <div class="technology__item">
                <img class="technology__img" src="/images/teh-react.svg" alt="react">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-js" src="/images/teh-js.svg" alt="javascript">
            </div>

            <div class="technology__item">
                <img class="technology__img" src="/images/teh-typescript.svg" alt="typescript">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-redux" src="/images/teh-redux.svg" alt="redux">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-nest" src="/images/teh-nest.svg" alt="nest js">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-mobx" src="/images/teh-mobx.svg" alt="mobx">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-docker" src="/images/teh-docker.svg" alt="docker">
            </div>

            <div class="technology__item">
                <img class="technology__img" src="/images/teh-reactnative.svg" alt="reactnative">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-hapi" src="/images/teh-hapi.svg" alt="hapi">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-mongodb" src="/images/teh-mongodb.svg" alt="mongodb">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-rabbit" src="/images/teh-rabbit.svg" alt="rabbit">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-postgresql" src="/images/teh-postgresql.svg" alt="postgresql">
            </div>

            <div class="technology__item">
                <img class="technology__img" src="/images/teh-clickhouse.svg" alt="clickhouse">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-redis" src="/images/teh-redis.svg" alt="redis">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-html5" src="/images/teh-html5.svg" alt="html5">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-mysql" src="/images/teh-mysql.svg" alt="mysql">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-php" src="/images/teh-php.svg" alt="php">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-yiiframework" src="/images/teh-yiiframework.svg" alt="yiiframework">
            </div>

            <div class="technology__item">
                <img class="technology__img technology__img-kafka" src="/images/teh-kafka.svg" alt="kafka">
            </div>
        </div>
    </div>
</section>