<footer class="footer">
    <div class="container footer__container">
        <p class="footer__copyright">Atmosphera © 2020</p>

        <div class="footer__contact">
            <p class="footer__title">Связаться с нами:</p>

            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <include src="src/images/icon-email.svg" />
                    </a>
                </li>

                <li class="footer__item">
                    <a href="" class="footer__link">
                        <include src="src/images/icon-telegram.svg" />
                    </a>
                </li>

                <li class="footer__item">
                    <a href="" class="footer__link">
                        <img src="/images/icon-skype.png" alt="skype">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>